

<nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand tetx"> <h3 class="tetx">Let's practice language witn native speaker</h3></a>
      <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search"
      aria-label="My native language is" name="native">
      </form>
</nav>

<div id="buscar" class="card-group m-2">
        <%= render @users%>
</div>
