<nav class="navbar navbar-light bg-light justify-content-between col-sm-8">
    <a class="navbar-brand tetx"> <h3 class="tetx">Let's practice </h3></a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="My native language is" name="native">
    </form>
</nav>
<div class="card-deck m-2">
    <div id="buscar" class="row" >
            <%= render @users%>
    </div>
</div>
