
.blue {
  background-color:
#44586a
}

.biege{
  background-color:#e7e3dc;
}
 .tetx {
   color:
#0b212f;
}
footer {
  height: 50px;
  background-color:
#44586a
}

header {
font-family: 'Roboto';
 color: #0b212f;
}
body{
font-family: 'Roboto';
color:#0b212f;
}
