/*
*= require bootstrap/dist/css/bootstrap
*= require fullcalendar/dist/fullcalendar

*= require_self
*/

.blue {
  background-color: #000049;
}

.biege{
  background-color: #c1c4cb;
}

 .tetx {
   color:#000049;
}

footer {
  font-family: 'Pacifico';
  height: 50px;
  width: 100%;
  background-color: #000049;
  bottom: 0px;
  color: #ffffff;
  position: fixed;
}

 h2{
   font-family: 'Roboto';
    color: #000049;
 }

header {
font-family: 'Roboto';
 color: #0b212f;
}

body{
padding-bottom:  100px;
font-family: 'Roboto';
color:#0e0d12;
}
#map {
  height: 400px;  /* The height is 400 pixels */
  width:  800px;  /* The width is the width of the web page */
 }
