
<h3>My Google Maps Demo</h3>

<div class="container m-3">
  <div id="map" class="m-4"></div>
</div>
 
<script type="text/javascript">
  $(document).on('ready turbolinks:load', function(){
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
    })
</script>
